* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Open Sans", sans-serif;
}
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
.hero-bg {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgb(0, 0, 0, 0.8);
}
.hero-text {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;
}
.hero-text h1 {
	margin-bottom: 5px;
	text-shadow: 3px 3px 5px #000;
	color: #ddd;
}
.hero-text span {
	text-transform: uppercase;
	color: #09f;
}
.section-title {
	margin-bottom: 20px;
	text-transform: uppercase;
	text-align: center;
}
section {
	scroll-margin-top: 70px;
}
/*NAWIGACJA*/
nav {
	position: sticky;
	top: 0;
	height: 60px;
	line-height: 60px;
	background-color: #ddd;
	text-align: center;
	z-index: 10;
}
.burger-icon {
	line-height: 60px;
	margin-left: auto;
	padding: 0 20px;
	font-size: 30px;
	display: block;
	border: none;
	background: none;
	cursor: pointer;
}
.nav-items {
	display: none;
}

/*HEADER*/
.header {
	position: relative;
	height: 330px;
	background-image: url(../img/wolf-2234511_640_small.jpg);
	background-size: cover;
	background-position: center;
}

/*MAIN*/

main {
	margin: 40px 0;
}
/*main > about-us*/
.about-us-info {
	margin-bottom: 10px;
	padding: 0 20px;
}
/*main > produkty*/
.products {
	margin: 60px auto;
}
.product h3 {
	text-transform: uppercase;
	transition: 0.3s;
}
.product:hover h3 {
	transform: scale(1.3);
}
.product {
	position: relative;
	height: 300px;
	background-size: cover;
	background-position: center;
	text-align: center;
}
.first-product {
	background-image: url(../img/children-593313_640_small.jpg);
}
.second-product {
	background-image: url(../img/keyboard-70506_640_small.jpg);
}
.third-product {
	background-image: url(../img/woman-1851464_640_small.jpg);
}
.fourth-product {
	background-image: url(../img/laptop-1483974_640_small.jpg);
}

/*main > kontakt*/

.contact {
	text-align: center;
}
.contact h3 {
	margin: 20px 0 5px 0;
}
/*FOOTER*/
footer {
	padding: 30px 10px;
	text-align: center;
	background-color: #333;
	color: #ddd;
}

@media (min-width: 768px) {
	.burger-icon {
		display: none;
	}
	.nav-items {
		display: block;
	}
	.nav-items a {
		padding: 0 25px;
		text-decoration: none;
		text-transform: uppercase;
		color: #333;
		font-weight: bold;
		transition: color 0.4s;
	}
	.nav-items a:hover {
		color: #09f;
	}
	.header {
		height: 400px;
		background-image: url(../img/wolf-2234511_1920.jpg);
	}
	.hero-text h1 {
		font-size: 36px;
	}
	.hero-text p {
		font-size: 18px;
	}
	.product h3 {
		font-size: 24px;
	}
	/* .first-product {
		background-image: url(../img/children-593313_1920.jpg);
	}
	.second-product {
		background-image: url(../img/keyboard-70506_1920.jpg);
	}
	.third-product {
		background-image: url(../img/woman-1851464_1920.jpg);
	}
	.fourth-product {
		background-image: url(../img/laptop-1483974_1920.jpg);
	} */
}
@media (min-width: 992px) {
	.product {
		display: inline-block;
		width: 50%;
	}
	.products-box {
		font-size: 0;
	}
}
@media (min-width: 1200px) {
	.hero-text h1 {
		font-size: 42px;
	}
	.hero-text p {
		font-size: 20px;
	}
}
